In [9]:
USE CrazyCleanCarptes
INSERT INTO [Card] (card_no, card_fname, card_lname, exp_date, cvc, bank) VALUES (1, 'Gabe', 'Benninghoff', '2024-12-12', 112, 'Mastercard')