In [1]:
USE CrazyCleanCarptes

In [2]:
CREATE TABLE Appointments (
    appt_id INT PRIMARY KEY,
    service_id INT,
    appt_date DATE,
    appt_time TIME
)

In [3]:
CREATE TABLE Employee (
    employee_id INT PRIMARY KEY,
    em_first_name VARCHAR(50),
    em_last_name VARCHAR(50)
)

In [4]:
CREATE TABLE Card(
    card_no INT PRIMARY KEY,
    card_lname VARCHAR(50),
    card_fname VARCHAR(50),
    exp_date DATE,
    cvc INT,
    bank VARCHAR(50)
)

In [5]:
CREATE TABLE  Customer(
    customer_id INT PRIMARY KEY,
    cu_first_name VARCHAR(50),
    cu_last_name VARCHAR(50),
    phone_nu INT,
    street VARCHAR(50),
    cu_state VARCHAR(50),
    cu_zip INT
)

In [6]:
CREATE TABLE Service(
    service_id INT PRIMARY KEY,
    customer_id INT,
    service_cost INT,
    employee_id INT,
    FOREIGN KEY (customer_id) REFERENCES Customer(customer_id)
)